.additional-products-list {
  list-style-type: none;
}

.additional-products-list__item {
  padding: 12px 0 18px 0;
  border-bottom: 1px solid @special-grey-2;
}

.additional-products-list__title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-grey-5;
}

.additional-products-list__description {
  margin: 0 0 15px 0;
  font-family: "Arial", sans-serif;
  line-height: 14px;
  color: @special-grey-4;
}

.additional-products-list__definition {
  clear: left;
  float: left;
}

.additional-products-list__value {
  clear: right;
  text-align: right;
}

.additional-products-list__button {
  font-size: 16px;
  line-height: 20px;
}
