.case {
  background-color: #eaeaea;
}

.case__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.case__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: @special-grey-4;
}

.case__statistics {
  padding: 20px 0 20px 0;
}

.case__illustration {
  height: 256px;
  padding: 0 0 40px 0;
}
