.copyright__link {
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special-grey-4;
  text-decoration: none;
}

.copyright__link:hover svg,
.copyright__link:focus svg,
.copyright__link:active svg {
  color: @basic-green;
}

.copyright__link:focus,
.copyright__link:active {
  opacity: 30%;
}

