.illustration__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0 -40px 0 -40px;
    background-color: #eaeaea;
  }

  @media (min-width: @desktop-width) {
    margin: 0 -110px 0 -110px;
    padding: 0 220px 0 0;
    justify-content: end;
    align-items: center;
  }
}

.illustration__img {
  width: 132px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 280px;
    margin: -151px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: -245px 0 0 0;
  }
}

.illustration__img--before {
  background-image: url("../../img/slider-before-mobile.png");
  background-position: 5% 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/slider-before-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/slider-before-tablet.png");
    background-position: -12% 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/slider-before-tablet@2x.png");
    }
  }
}

.illustration__img--after {
  background-image: url("../../img/slider-after-mobile.png");
  background-position: 96% 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/slider-after-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/slider-after-tablet.png");
    background-position: 113% 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/slider-after-tablet@2x.png");
    }
  }
}
