.main-container {
  flex-grow: 1;
}

.main-title {
  margin: 0 -30px 8px -30px;
  padding: 0 30px 40px 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  border-bottom: 1px solid @special-grey-1;
}
