.main-nav {
  display: block;
}

.main-nav--opened,
.main-nav--nojs {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;

  @media (min-width: @tablet-width) {
    display: block;
    grid-column: 2 / -1;
  }
}

.main-nav--closed {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-nav__list {
  width: 100%;
  margin: 16px 0 0 0;
  padding: 0;
  z-index: 5;

  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
