.program-list {
  list-style-type: none;
}

.program-list__item {
  padding: 20px 22px 20px 22px;
  margin: 0 0 20px 0;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 77px 62px 53px 52px;
    margin: 0 0 30px 0;
  }

  @media (min-width: @desktop-width) {
    width: 38%;
    padding: 47px 62px 55px 52px;
    margin: 0;
  }
}

.program-list__intro-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.program-list__icon-background {
  margin: 0 19px 0 0;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 15px;
    right: 0;
    margin: 0;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 0;
    width: 100px;
    height: 100px;
    margin: 0 62px 0 0;
  }
}

.program-list__icon {
  position: absolute;
}

.program-list__icon--slim {
  top: -6px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 194px;
    top: -15px;
    left: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
    top: -6px;
    left: 14px;
  }
}

.program-list__icon--pro {
  left: -10px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
    top: 45px;
    left: -40px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    top: 26px;
    left: -18px;
  }
}

.program-list__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-list__description {
  margin: 0;
  padding: 22px 0;
  font-family: "Arial", sans-serif;
  color: @special-grey-4;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 56%;
    padding: 24px 0;
    margin: 0 0 24px 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 39px 0 8px 0;
    margin: 0;
  }
}

.program-list__link {
  display: block;
  padding: 15px 47px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-list__link:hover svg,
.program-list__link:focus svg,
.program-list__link:active svg {
  width: 32px;
}

.program-list__link:focus,
.program-list__link:active {
  opacity: 30%;
}

.program-list__link svg {
  margin: 0 0 0 15px;
}
