.site-list {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: @white;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @white;
    background-color: transparent;
  }
}

.site-list--normal {
  @media (min-width: @desktop-width) {
    color: @black;
    background-color: transparent;
  }
}

.site-list__item {
  height: 66px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid @border;

  @media (min-width: @tablet-width) {
    padding: 0 0 15px 0;
    position: relative;
    height: 36px;
    align-items: start;
    border: none;
  }
}

.site-list__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin: 0 27px 0 0;
  }
}

.site-list__item--current::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-green;
  }

  @media (min-width: @desktop-width) {
    background-color: @white;
  }
}

.site-list__item--current-normal::after {
  @media (min-width: @desktop-width) {
    background-color: @basic-green;
  }
}

.site-list__item a {
  padding: 20px 0 20px 0;
  color: inherit;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding: 15px 0 12px 0;
  }
}

.site-list__item a:hover {
  opacity: 60%;
}

.site-list__item a:focus,
.site-list__item a:active {
  opacity: 30%;
}

.site-list__item--current a:hover,
.site-list__item--current a:focus,
.site-list__item--current a:active {
  opacity: 100%;
}
