.social__list {
  width: 70%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 28px;
  height: 22px;
  color: @special-grey-3;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  color: @basic-green;
}

.social__link:focus,
.social__link:active {
  opacity: 30%;
}
