.statistics__box-view-wrapper {
  margin: 0 0 34px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    min-width: 366px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 55px 0;
  }
}

.statistics__box-view {
  height: 42px;
  width: 44%;
  margin: 0;
  padding: 14px 0 0 0;
  position: relative;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid @special-grey-2;
  border-radius: 2px;

  @media (min-width: @tablet-width) {
    width: 44%;
    padding: 14px 0 19px 0;
    font-size: 30px;
    line-height: 37px;
    border-radius: 4px;
  }
}

.statistics__box-view span {
  width: 58%;
  padding: 8px 0 0 0;
  display: block;
  position: absolute;
  left: 22%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @special-grey-4;
  text-transform: lowercase;
  background: #eaeaea;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 80%;
    padding: 17px 0 0 0;
    left: 10%;
    font-size: 14px;
    line-height: 14px;
    background: @white;
  }

  @media (min-width: @desktop-width) {
    background: #eaeaea;
  }
}

.statistics__costs {
  margin: 0;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.statistics__costs span {
  @media (min-width: @tablet-width) {
    display: block;
    padding: 9px 0 0 0;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    display: inline;
    padding: 0 0 0 63px;
  }
}
